<h1>TinyApp</h1>
<% if (!user) {%>

  <a href="/login">Login</a> |
  <a href="/register">Register</a>

<%} else {%>

  <h4>Loged in as: <%=user.email%> </h4>
  <form method="POST" action="/logout">
  <button type="submit" class= "btn btn-primary">Logout</button>
</form>

<%}%>
